<h2><%= @profile.name %>'s Profile<br/></h2>

<section>
  <div class="body"  id="profile">
    <h3>Personal Information</h3><br/>
    <p><span>Name: </span><%=@profile.name%></p>
    <p><span>Gender: </span><%=@profile.gender%></p>
    <p><span>Date of Birth: </span><%=@profile.dob%></p>
    <p><span>Address: </span><%=@profile.address%></p>
    <p><%=@profile.city%>, <%=@profile.state%> <%=@profile.zip%></p>
    <!-- Would be care ful about have sensitive information like this openly available in a site.  -->
    <p><span>Passport #: </span><%=@profile.passport%></p>
    <p><span>Telephone: </span><%=@profile.telephone_num%></p>
    <p><span>Email: </span><%=@profile.email%></p>
    <p><span>Additional Notes: </span><%=@profile.notes%></p>
    <section>
      <button><%= link_to "Edit Personal Info",edit_profile_path(@profile)%></button>
    </section>

</div>
</section>
<br/><br/>
<section>

  <div class="body"  id="profile">
    <h3>Trip Registrations</h3>

    <br/>
    <% if @signups != nil %>
        <% @signups.each_with_index do |signup, index|%>
        <p><span>Trip #<%= index+1 %>:</span> <%=signup.trip.country%></p>
        <p><span>Departure Date:</span> <%=signup.trip.departure%></p>
        <p><span>Details:</span> <%=link_to "Trip Info", trip_path(signup.trip.id)%></p>
        <section>
          <button><%= link_to "Change", edit_profile_signup_path(@profile, signup) %></button>
          <button><%= link_to "Remove", profile_signup_path(@profile, signup), method: :delete, data: {confirm: "Are you sure you want to unregister from this trip?"}%></button>
        </section>
        <%end%>
    <%end%>
    <!-- noooooo this is an anti pattern, separate content concerns with stylistic concerns in their respective technologies(HTML && CSS)-->
    <HR WIDTH="75%" COLOR="#254466" SIZE="2">
    <button><%=link_to "New Trip", new_profile_signup_path(@profile.id)%></button>

</div>
</section>
