<!DOCTYPE html>
<html>
  <head>
    <title>TravelApps</title>
    <%= csrf_meta_tags %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <div id="login">
    <% if !current_user %>
    <span><%= link_to "Sign Up", new_user_registration_path %></span>
    <span><%= link_to "Sign In", new_user_session_path %></span>

    <% elsif current_user.profile.id != nil %>
      <span><%=link_to "Welcome, #{current_user.profile.name}!", profile_path(current_user.profile)%></span>
      <span><%= link_to "Sign Out", destroy_user_session_path, :method => :delete  %></span>
    <% end %>
  </div>

  <a href="/"><%=image_tag("logo.png", class:"logo")%></a>

  <nav>
    <a href="/">Home</a>
    <a href="#">FAQs</a>
    <a href="/trips">Trip Options</a>

    <% if !current_user %>
    <%=link_to "Log In", new_user_session_path%>
    <% elsif current_user.profile.id != nil %>
    <%=link_to "Register", new_profile_signup_path(current_user.profile.id)%>

    <% end %>

  </nav>

    <%= yield %>

  </body>
</html>
